@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}
/*add cursor pointer to buttons by default co,img from tailwind css docs */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
